
body {
  background-color: #a6abac;
}
nav{
   border: solid black 2px;
   padding: 1rem;
   background-color: lavender;
   
   
  
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   text-decoration: none;
   
   font-weight: bold;
  
}

h1 {
   font-family: Arial;
   font-size: 3em;
   text-align: center;
}

h4 {
   font-family:'Times New Roman', Times, serif;
   font-size: 1.5em;
   text-align: center;
}
p{
   text-align: center;
}

a {
   color:hotpink;

}
footer {
   background-color: lavender;
   
    border: black solid 2px;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 0.5em

}